@using ThesisNest.Models
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Reports";
}

<h2>Reports</h2>

<h4>Department-wise Thesis Count</h4>
<table class="table table-bordered mt-2">
    <thead>
        <tr>
            <th>Department</th>
            <th>Number of Theses</th>
        </tr>
    </thead>
    <tbody>
        
    </tbody>
</table>

<hr />

<h4>Supervisor-wise Thesis Review Count</h4>
<table class="table table-bordered mt-2">
    <thead>
        <tr>
            <th>Supervisor</th>
            <th>Theses Reviewed</th>
        </tr>
    </thead>
    <tbody>
        
    </tbody>
</table>
